:root {
  --primary-color: #000028;
  --secondary-color: #ff0070;
  --accent-color: #db00ff;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
}

.page.theme_dark {
  min-inline-size: 375px;
  block-size: 100%;
  background-image: var(--background-image);
  background-color: var(--primary-color, #000028);
}

.page.theme_dark .header {
  position: relative;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 }

.page.theme_dark .title-decor {
  background-color: var(--primary-color, #000028);
}

.page.theme_dark .element-rec {
  opacity: 1;
}

.page.theme_dark .header__theme-menu-item {
  color: var(--secondary-color, #ff0070);
}

.page.theme_dark .header__title {
  color: var(--accent-color, #db00ff);
  text-shadow: 4px 4px 0 var(--secondary-color, #ff0070);
}

.page.theme_dark .text-decor {
  color: var(--primary-color, #000028);
}

.page.theme_dark .main {
  background-color: var(--primary-color, #000028);
}

.page.theme_dark .main-title {
  background-color: var(--primary-color, #000028);
}

.page.theme_dark .footer {
  background-color: var(--primary-color, #000028);
}

.page.theme_dark .footer-title {
  color: var(--accent-color, #db00ff);
  text-shadow: 2px 2px 0 var(--secondary-color, #ff0070);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000028;
    --secondary-color: #ff0070;
    --accent-color: #db00ff;
    --text-color: #f1b2ce;
    --hover-color: #ff007066;
    --background-image: url("../images/cover-image-dark.png");
  }
}