.page.theme_light {
  background-image: var(--background-image-light);
}

.page.theme_light .element-rec {
  display: none;
}

.page.theme_light .header__title {
  text-shadow: 0.4rem 0.4rem 0 var(--accent-color-theme_dark, #ff0070);
}

.page.theme_light .footer__title {
  text-shadow: 2px 2px 0 var(--secondary-color, #ff0070);
}

.page.theme_light .header__title {
    text-shadow: 0.4rem 0.4rem 0 var(--secondary-color, #ff8dcb);
}

.page.theme_light .footer__title {
    text-shadow: 2px 2px 0 var(--secondary-color, #ff8dcb);
}



  
  


