:root {
  --accent-color: #FF0070;
  --primary-color: #000028;
  --secondary-color: #ff0070;
  --accent-color: #db00ff;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;
  --main-font: 'IBM Plex Mono', sans-serif;
}