:root .theme_dark {
  --primary-color: #000028;
  --secondary-color: #ff0070;
  --accent-color: #db00ff;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
  --main-font: "IBM Plex Mono", monospace;
}

:root .theme_light {
  --accent-color: #ff0070;
  --primary-color: #fff1f7;
  --secondary-color: #ff8dcb;
  --accent-color: #f1b2ce;
  --text-color: #353430;
  --hover-color: #32312d66;
  --bg-light-color: #fff1f7;
  --main-font: "IBM Plex Mono", monospace;
  --background-image-light: url("../images/cover-image-light.png");
}
